// fonts
$ff1: 'Roboto', sans-serif;
$ff2: 'Open Sans', sans-serif;

// colors
$primary-color: #F2F2F2;
$secondary-color: #0e86d8;

$black: #000;
$deep-blue: #0b6bac;
$gray: #666;
$light-black: #333;
$navy-blue: #2a4d69;
$white: #fff;
$overly-color: #0e86d8aa; 